<div>
  <div id="register-container" style="margin: 20px; padding: 10px; border: 1px solid #ccc;">
    <h3 id="register-title" style="font-size: 24px;">Register</h3>
    <form id="register" style="margin-top: 10px;">
      <label id="first-name-label" for="first-name">First Name:</label>
      <input type="text" name="first-name" id="first-name" style="margin-left: 10px;"><br>
      <label id="last-name-label" for="last-name">Last Name:</label>
      <input type="text" name="last-name" id="last-name" style="margin-left: 10px;"><br>
      <label id="email-label" for="email">Email:</label>
      <input type="text" name="email" id="email" style="margin-left: 10px;"><br>
      <label id="password-label" for="password">Password:</label>
      <input type="password" id="password" style="margin-left: 10px;">
      <input id="register-button" type="submit" style="margin-top: 10px; background-color: #007bff; color: #fff; padding: 5px 10px; border: none; cursor: pointer;">
    </form>
    <p id="login-link" style="margin-top: 10px;">¿Ya estás registrado? <a href="/login" style="color: #007bff; text-decoration: none;">Accede aquí</a></p>
  </div>
</div>
<script src="/js/register.js"></script>