<div>
  <div id="login-container" style="margin: 20px; padding: 10px; border: 1px solid #ccc;">
    <h3 id="login-title" style="font-size: 24px;">Reset Password</h3>
    <form id="login" style="margin-top: 10px;">
      <label id="email-label" for="email">Email:</label>
      <input type="text" name="email" id="email" style="margin-left: 10px;"><br>
      <label id="panelLogin" for="panel" style="color: brown;"></label><br>
      <input id="login-button" type="submit" style="margin-top: 10px; background-color: #007bff; color: #fff; padding: 5px 10px; border: none; cursor: pointer;">
    </form>
  </div>
</div>
<script src="/js/resetPassword.js"></script>