<div>
  <div id="login-container" style="margin: 20px; padding: 10px; border: 1px solid #ccc;">
    <h3 id="login-title" style="font-size: 24px;">Reset Password</h3>
    <form id="login" style="margin-top: 10px;">
      <label for="password" style="font-size: 14px; color: #333;">New password:</label>
      <input type="password" name="password" id="password" style="margin-left: 10px;"><br>
      <label for="passwordConfirm" style="font-size: 14px; color: #333;">Confirm new password:</label>
      <input type="password" name="passwordConfirm" id="passwordConfirm" style="margin-left: 10px;"><br>
      <label id="panelLogin" for="panel" style="color: brown;"></label><br>
      <input id="login-button" type="submit" style="margin-top: 10px; background-color: #007bff; color: #fff; padding: 5px 10px; border: none; cursor: pointer;">
    </form>
  </div>
</div>
<script src="/js/setNewPasswordReset.js"></script>